{% extends 'base.html.twig' %}
{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="container-fluid vh-65">
        <div class="row text-center justify-content-center mt-5">
            <div class="col-md-10 ">
                <h1 class="mb-5">Edit Comment</h1>
                <div class="d-flex justify-content-between">
                    <a role="button" class="btn btn-dark" href="{{ path('app_trick_show', {'slug' : trick.slug}) }}"><i class="bi bi-arrow-left"></i></a>
                    {{ include('comment/_delete_form.html.twig') }}
                </div>
                <div class="my-5">
                    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
