{% block body %}
    <p class="lead">{{ 'leave_comment' | trans }}</p>
    <div class="row justify-content-center">
        <div class="col">
            {{ include('comment/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
