{% extends 'base.html.twig' %}
{% block body %}
    <section class="container vh-65 text-center my-3">
        <div class="text-start">
            <a href="{{ path('app_trick_show', {'slug' : trick.slug}) }}" role="button" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 my-5">
                <h1 class="display-3 mb-5">{{ 'add_image' | trans }}</h1>
                {{ include('image/_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
