{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-5 text-center">
                <h1 class="display-6">Log in</h1>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('app_login') }}" method="post" class="card">
                    <div class="card-body">
                        <div class="mb-2">
                            <label for="username">Email:</label>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="mb-2">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="_password"/>
                        </div>
                        <div class="mb-2">
                            <a href="">Forgot password?</a>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {# If you want to control the URL the user is redirected to on success #}
                        <input type="hidden" name="_target_path" value="/"/> 
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}